.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 800;
}
.modal {
  width: 280px; /* Мобільна версія */
  padding: 24px 12px;
  border-radius: 10px;
  background: white; /* Задній фон модального вікна */
  z-index: 801;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 24px;
  font-family: var(--font-family);
font-weight: 500;
font-size: 26px;
line-height: 123%;
color: --primary-black;
}
.closeButton {
  background: none;
  border: none;
  cursor: pointer;
}
.formulas {
  margin-bottom: 12px;
}
.formulaText {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: --primary-black;
margin-bottom: 18px;
}
.span{
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
color: var(--primary-blue);
}
.infoText {
  border: 1px solid var(--secondary-light-blue);
  border-radius: 10px;
  padding: 10px;
  width: 100%px;
  height: 100%;
  color: #8f8f8f;
  margin-bottom: 24px;
  font-weight: 400;
font-size: 12px;
line-height: 133%;
}
.infoTextBlok {
  margin-bottom: 24px;
  
}
.formText {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 125%;
color: var(--primery-color-black);

}
.input {
  border: 1px solid var(--secondary-light-blue);
  border-radius: 6px;
  padding: 12px 10px;
  width: 100%; /* Мобільна версія */
  height: 44px;
  margin-bottom: 24px; /* Відступ між інпутами */
  margin-top: 8px;
  outline-style: none;
  color: var(--primary-blue);
}
.genderField{
  display: flex;
  gap: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.weightField .input{
  margin-bottom: 12px;
}
.litersField{
  display: flex;
  margin-bottom: 24px;
  gap: 6px;
}
.litersField .span{
 
}
.saveButton {
  border-radius: 10px;
  padding: 8px 30px;
  width: 256px; /* Мобільна версія */
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background-color: var(--primary-blue);
  color: white; /* Колір тексту на кнопці */
}
.input::placeholder{
  font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 133%;
color: var(--primary-blue);
}
/* Стилі для планшетів */
@media (min-width: 768px) {
  .modal {
      width: 704px; /* Ширина для планшетів */
      height: 696px;
      padding: 32px 24px;
  }
  .formulas {
    display: flex;
    gap: 24px;
  }
  .saveButtonBlok {
    display: flex;
    flex-direction:row-reverse;
  }
  .saveButton {
      width: 160px; /* Ширина кнопки для планшетів */
  }
}
/* Стилі для комп'ютерів */
@media (min-width: 1200px) {
  .modal {
      width: 592px; /* Ширина для комп'ютерів */
      height: 712px;
  }

}